<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <link rel="stylesheet" href="estilos.css" />
</head>
<body>

<form>
<div class="container">
    <H2> Cadastro de usuarios: </H2>

    <div>
        <div >
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder= "Digite seu nome..." name="nome" value=""/>
        </div>
        <div >
            <label for="CPF">Cpf</label>
            <input type="text" id="CPF" placeholder= "Digite seu CPF" name="cpf" value=""/>
        </div>
        <div >

                <p> Endereço </p>
            <label for="Rua">Rua</label>
            <input type="text" id="Rua"  placeholder= "Digite nome da Rua "name="Rua" value=""/>
            <label for="Numero">N° da casa</label>
            <input type="text" class="form-control" id="Numero" placeholder= "Digite N° da casa " name="Numero" value=""/>
            <label for="Bairro">Bairro</label>
            <input type="text" class="form-control" id="Bairro"  placeholder= "Digite nome do bairo  "  name="Bairro" value=""/>
            <label for="Municipio">Municipio</label>
            <input type="text" class="form-control" id="Municipio"  placeholder= "Digite Municipio  "  name="Municipio" value=""/>
            <label for="Estado">Estado</label>
            <input type="text" class="form-control" id="Estado"  placeholder= "Digite nome do Estado " name="Estado" value=""/>
            <label for="Pais">País</label>
            <input type="text" class="form-control" id="Pais"  placeholder= "Digite nome do País "  name="pais" value=""/>
        </div>
        <div >
            <label for="telefone">Telefone</label>
            <input type="text" id="telefone" placeholder= "Digite seu Telefone " name="telefone" value=""/>
        </div>

</div>
</div>
</form>
</body>
</html>